.classpath
.project
*.class
javadoc/
build/
*~
*#*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

res/ml-latest-small/ratings_id_replaced3.csv
res/History.ser